@charset "UTF-8";

body {
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
}
h1 {
    color: rgb(2, 0, 110);
    background-color: rgb(51, 51, 248);
    text-align: center;
}
h2 {
    color: antiquewhite;
    text-align: center;
}
p {
    text-align: justify;
}