@charset "UTF-8";






h1{
    text-align: center;
}
 div{
    position: relative;
    padding-bottom: 56%;
 }
 iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 100%;
 }
 img{
    width: 20%;
 }